<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/products/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="/static/products/productPage.js" defer></script>
    <script src="/static/Core/core.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.name }}</title>
</head>
<body>
    {% include 'menuBar.html' %}
    {% include 'subMenu.html' %}
    <button id="backButton"><-Back</button>
    <h1>{{ item.name }}</h1>
    <p>Price: ${{ item.price }}</p>
    <p>Description: {{ item.descriptions }}</p>
    <p>Seller: {{ item.user }}</p>
    <img src="{{ item.image }}" alt="{{ item.name }}">
</body>
</html>
