
<div class="nav-bar">
    <button id = "first-element">Centrebyte</button>
    <li><input type="text" placeholder="Search">
    <button>Search</button>
    <div class="nav-bar-container">
        <div class="dropdown-item">
            <p>Sort by</p>
            <button class="dropbtn">account</button>
            <div class="dropdown-content">
                <a href="/?sort_by=price">Price (Low to High)</a>
                <a href="/?sort_by=price_desc">Price (High to Low)</a>
            </div>
        </div>
        <div class="dropdown-item">
           
            <button class="dropbtn">cart</button>
            <div class="dropdown-content">
                <a href="/checkout">checkout</a>
                <a href="/cart">view cart</a>
            </div>
        </div>
        
    </div>
</div>
