<div class="sidebar">
    <div class="side-bar-container">
        <div class="dropdown">
            <p>Sort by</p>
            <button class="dropbtn">Price</button>
            <div class="dropdown-content">
                <a href="/?sort_by=price">Price (Low to High)</a>
                <a href="/?sort_by=price_desc">Price (High to Low)</a>
            </div>
        </div>
        <div class="dropdown">
           
            <button class="dropbtn">Rating</button>
            <div class="dropdown-content">
                <a href="/?sort_by=rating">Rating (Low to High)</a>
                <a href="/?sort_by=rating_desc">Rating (High to Low)</a>
            </div>
        </div>
        <div class="dropdown">
           
            <button class="dropbtn">Availability</button>
            <div class="dropdown-content">
                <a href="/?sort_by=most_available">Available Items</a>
                <a href="/?sort_by=least_available">Out of Stock Items</a>
            </div>
        </div>
        <div class="dropdown">
            
            <button class="dropbtn">Release Date</button>
            <div class="dropdown-content">
                <a href="/?sort_by=oldest">Oldest</a>
                <a href="/?sort_by=newest">Newest</a>
            </div>
        </div>
        <div class="dropdown">
            
            <button class="dropbtn">Best Sellers</button>
            <div class="dropdown-content">
                <a href="/?sort_by=most_purchased">Top Selling Products</a>
                <a href="/?sort_by=least_purchased">Less Popular Products</a>
            </div>
        </div>
      
    </div>
</div>
