/* CSS Reset - Resets default browser styles */
body{
    background-color: #408ec6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the menu bar */
p {
    font-family: "Black Ops One", sans-serif;
    text-align: center;
}
.menu-bar {
    list-style: none;
    padding: 0;
    height: 70px;
    margin: 0;
    background-color: #1e2761; /* Updated background color */
    display: flex;
    justify-content: center; /* Center all items horizontally */
    align-items: center; /* Center all items vertically */
    flex-wrap: wrap;
    width: 100%;
}

.menu-bar button {
    font-family: "Black Ops One", sans-serif;
    background-color: #1e2761;
    width: 100px;
    border : 0px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-left: 0px;
    display: flex;
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    height: 70px;
}

.menu-bar button:hover {
    background-color: #7a2048;
}

/* Style for the input element */
.menu-bar input[type="text"] {
    padding: 10px;
    border: 0px solid #E91E63; /* Updated border color */
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    width: 95%;
    min-width: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom : 12px;
}
